<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'rickandmorty/css/style.css' %}">
    <title>Rick and Morty</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    <h1>Title</h1>
    <div class="row m-5 justify-content-center text-center">
        {% for character in characters %}
            <div class="card border-0 rounded-0 p-2" style="width: 18rem;">
                <img src="{{ character.image }}" class="card-img-top" alt="{{ character.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{character.name}}</h5>
                    <ul class="list-unstyled ">
                        <li>{{character.species}}</li>
                        <li>{{character.gender}}</li>
                        <li>Status: {{character.status}}</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock content %}

</body>

</html>