body {
    background-image: url('../img/wallpaper.jpg');
    background-repeat: repeat-y;
    background-size: contain;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Space Mono', monospace;
}
/* Header */
.navbar{
    background-color: rgb(0, 0, 0, 0,5);
    display: flex;
    justify-content: center;
}
#logo-rick {
    display: flex;
    justify-content: center;
}
#logo-rick img {
    width: 20vw;
}
/* Header */

/* Cards Container */
#main-container {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(14, 42, 84, 0.8);
    border-radius: 30px;
}

/* Card */
.card-container {
    width: 15vw;
    margin: 20px;
    margin-top: 50px;
    text-align: center;
}

.card-container img {
    width: 15vw;
    filter: grayscale(100%);

}

.card-container img:hover {
    filter: none;
    transition-duration: 10ms;
}

.wanted-text {
    font-size: larger;
    margin-bottom: 0px;
    margin-top: 5px;
    color: white;
    text-decoration: line-through;
}

.card-container h5{
    color: rgb(225, 239, 30);
}
.card-container ul{
    list-style: none;
    text-align: left;
    color: rgb(255, 255, 255, 0.8);
}
/* Card */